body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: column; /* Mobile */
    gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 5px;
}


@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        gap: 30px;
    }
}

/* Even Roll Number */
.image {
    width: 300px;
    border-radius: 50px; 
}

.video {
    width: 50vw;     
    padding: 15px;
    background-color: blue;
    display: block;
    margin-top: 20px;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: lightgray;
}

th, td {
    padding: 10px;
    text-align: center;
}

.btn {
    border: none;
    padding: 12px 20px;
    margin: 20px;
}

.btn:hover {
    opacity: 0.8;
    transform: scale(1.05); 
    background-color: blue;
}

/* 
   Grid (Desktop First)
*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap:10px;
}

.box {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

/* Mobile Layout */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}